body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #D6CAAB;
}

nav {
    position: sticky;
    top: 0;
    background-color: beige;
    padding: 1rem;
    z-index: 9999;
    width: 100%;
}


#productList {
    background-color: pink;
    padding-left: 30px;
    width: 100%
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px; 
    padding: 0;
    list-style: none;
    z-index: 9999; 
}

#face {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;

}
    

#main h1 {
    font-family: 'Bubblegum Sans', 'sans-serif';
    font-size: 3vw;
    text-align: center;
    color: purple;
}


h3 {
    font-family: 'Bubblegum Sans', 'sans-serif';
    color: #957DAD;
    margin: 20vh;
    text-align: left;
}

#jacket {
    width: 350px;
    height: auto;
}

#border {
    border: 2px solid black;
}

.border-line {
    border-left: 3px solid black;
    height: 100%;
    margin: 0;
}