body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: beige;
}

#navBar {
    position: fixed;
    top: 0;
    background-color: beige;
    z-index: 1000;
    width: 100%;
}

/* Highlight on hover */
.nav-link:hover {
    position: relative;  /* Required for positioning */
    background-color: tan;
  }
  

#productList {
    background-color: beige;
    padding-left: 30px;
    width: 100%
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 250px; 
    padding: 0;
    list-style: none;
    z-index: 9999; 
}

#face {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;

}

#cart {
  font-weight: bold;
  border-radius: 20px;
  background:brown;
  color: white;
}
    

#main h1 {
    font-family: 'Bubblegum Sans', 'sans-serif';
    font-size: 3vw;
    text-align: center;
    color: purple;
}

h1 {
    font-family: 'Bubblegum Sans', 'sans-serif';
    color: brown;
    margin: 20vh;
    text-align: left;
}

h2 {
    font-family: 'Bubblegum Sans', 'sans-serif';
    color: brown;
    font-size: 10vh;
    text-align: left;
}

h3 {
    font-family: 'Bubblegum Sans', 'sans-serif';
    color: #957DAD;
    margin: 20vh;
    text-align: left;
}

#jacket {
    width: 500px;
    height: auto;
}

#border {
    border: 2px solid black;
}

.border-line {
    border-left: 3px solid black;
    height: 100%;

}


.first, .second, .third {
    width: 50vh;
    height: 50vh;
    border: 8px solid burlywood;
    border-radius: 20px;
}

.first {
    background-color: white;
}

.position-relative {
    position: relative; /* Makes the div a positioning context */
  }
  
  .overlay-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: burlywood;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: 'Bubblegum Sans', 'sans-serif';
    border-radius: 5px;
    width: auto;
    text-align: center;
  }
  
  img {
    width: 100%;
    height: auto;
  }

  .highlight {
    color: palevioletred;
  }

  .custom-button {
    all: unset;
    cursor: pointer; /* Makes the cursor appear as a pointer when hovering */
    display: inline-block; /* Keeps the button inline with the content */
    padding: 0; /* Removes default padding */
    border: none; /* Removes default button border */
    background: transparent; /* Makes the button background transparent */
    text-align: center; /* Centers text within the button */
  }
  
  .custom-button img {
    display: block; /* Prevents inline-block behavior for images */
    margin: 0 auto; /* Centers the image */
  }
  
  .custom-button:focus {
    outline: none; /* Removes the default focus outline */
  }

  .custom-button:hover {
    transform: scale(0.95); /* Shrinks the button by 5% */
  }




