body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    /*background-color: #D6CAAB;*/
    background-color: beige;
}

nav {
    position: sticky;
    top: 0;
    background-color: beige;
    padding: 1rem;
    z-index: 9999;
    width: 100%;
}


#productList {
    background-color: pink;
    padding-left: 30px;
    width: 100%
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 160px; 
    padding: 0;
    list-style: none;
    z-index: 9999; 
}

#face {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;

}
    

#main h1 {
    font-family: 'Bubblegum Sans', 'sans-serif';
    font-size: 3vw;
    text-align: center;
    color: purple;
}

h1 {
    font-family: 'Bubblegum Sans', 'sans-serif';
    color: brown;
    margin: 20vh;
    text-align: left;
}
h3 {
    font-family: 'Bubblegum Sans', 'sans-serif';
    color: #957DAD;
    margin: 20vh;
    text-align: left;
}

#jacket {
    width: 500px;
    height: auto;
}

#border {
    border: 2px solid black;
}

.border-line {
    border-left: 3px solid black;
    height: 100%;

}

.first, .second, .third {
    width: 50vh;
    height: 50vh;
    border: 8px solid burlywood;
    border-radius: 20px;
}

.first {
    background-color: white;
}

.position-relative {
    position: relative; /* Makes the div a positioning context */
  }
  
  .overlay-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: burlywood;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    font-size: 2.5rem;
    font-weight: 900;
    font-family: 'Bubblegum Sans', 'sans-serif';
    border-radius: 5px;
    width: auto;
    text-align: center;
  }
  
  img {
    width: 100%;
    height: auto;
  }

  .highlight {
    color: palevioletred;
  }




